{% extends 'adminlte/base.html' %}
{% load static %}

{% block content %}
    

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Наши Контакты</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
</div>

</div>


<div class="card-body">
<p>Мы всегда рады общению с вами и готовы ответить на ваши вопросы, принять ваши предложения или помочь вам в чем-либо. Ниже приведены способы связи с нами:
</p>
<strong>Адрес Офиса
</strong>
    <p>Адрес: 123 Модная улица, Город Моды, Страна Моды<br>
Почтовый Индекс: 56789</p>
<strong>Электронная Почта
</strong>
    <p>
Общие Вопросы: info@fashionfusion.com<br>
Клиентская Поддержка: support@fashionfusion.com</p>
<strong>Телефон</strong>
    <p>
Общие Вопросы: +1 (123) 456-7890<br>
Заказы и Консультации: +1 (987) 654-3210</p>
<strong>Социальные Сети</strong>
    <p>Мы также активны в социальных сетях и будем рады видеть вас в нашем онлайн-сообществе:</p>
    <a href="https://www.facebook.com/">Facebook</a><br>
        <a href="https://www.instagram.com/">Instagram</a><br>
       <a href="https://twitter.com/?lang=ru">Twitter</a><br><br>
<strong>Рабочее Время</strong>
<p>Понедельник - Пятница: 9:00 AM - 6:00 PM<br>
Суббота: 10:00 AM - 3:00 PM<br>
Воскресенье: Выходной</p>
<p>Не стесняйтесь связаться с нами по указанным контактам. Мы всегда готовы помочь и обсудить ваши потребности и пожелания. В FashionFusion мы ценим ваше внимание и ждем ваших сообщений.
</p>
</div>
</div>

{% endblock %}